In [4]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/loan-default/Loan_default.csv

In [5]:
df = pd.read_csv("/kaggle/input/loan-default/Loan_default.csv")

In [6]:
df.head()

,LoanID,Age,Income,LoanAmount,CreditScore,MonthsEmployed,NumCreditLines,InterestRate,LoanTerm,DTIRatio,Education,EmploymentType,MaritalStatus,HasMortgage,HasDependents,LoanPurpose,HasCoSigner,Default
0,I38PQUQS96,56,85994,50587,520,80,4,15.23,36,0.44,Bachelor's,Full-time,Divorced,Yes,Yes,Other,Yes,0
1,HPSK72WA7R,69,50432,124440,458,15,1,4.81,60,0.68,Master's,Full-time,Married,No,No,Other,Yes,0
2,C1OZ6DPJ8Y,46,84208,129188,451,26,3,21.17,24,0.31,Master's,Unemployed,Divorced,Yes,Yes,Auto,No,1
3,V2KKSFM3UN,32,31713,44799,743,0,3,7.07,24,0.23,High School,Full-time,Married,No,No,Business,No,0
4,EY08JDHTZP,60,20437,9139,633,8,4,6.51,48,0.73,Bachelor's,Unemployed,Divorced,No,Yes,Auto,No,0

In [7]:
df.tail()

,LoanID,Age,Income,LoanAmount,CreditScore,MonthsEmployed,NumCreditLines,InterestRate,LoanTerm,DTIRatio,Education,EmploymentType,MaritalStatus,HasMortgage,HasDependents,LoanPurpose,HasCoSigner,Default
255342,8C6S86ESGC,19,37979,210682,541,109,4,14.11,12,0.85,Bachelor's,Full-time,Married,No,No,Other,No,0
255343,98R4KDHNND,32,51953,189899,511,14,2,11.55,24,0.21,High School,Part-time,Divorced,No,No,Home,No,1
255344,XQK1UUUNGP,56,84820,208294,597,70,3,5.29,60,0.50,High School,Self-employed,Married,Yes,Yes,Auto,Yes,0
255345,JAO28CPL4H,42,85109,60575,809,40,1,20.90,48,0.44,High School,Part-time,Single,Yes,Yes,Other,No,0
255346,ZTH91CGL0B,62,22418,18481,636,113,2,6.73,12,0.48,Bachelor's,Unemployed,Divorced,Yes,No,Education,Yes,0

In [8]:
df.isnull().sum()

LoanID            0
Age               0
Income            0
LoanAmount        0
CreditScore       0
MonthsEmployed    0
NumCreditLines    0
InterestRate      0
LoanTerm          0
DTIRatio          0
Education         0
EmploymentType    0
MaritalStatus     0
HasMortgage       0
HasDependents     0
LoanPurpose       0
HasCoSigner       0
Default           0
dtype: int64

In [9]:
df = df.drop('LoanID' , axis = 1)

In [10]:
df.columns

Index(['Age', 'Income', 'LoanAmount', 'CreditScore', 'MonthsEmployed',
       'NumCreditLines', 'InterestRate', 'LoanTerm', 'DTIRatio', 'Education',
       'EmploymentType', 'MaritalStatus', 'HasMortgage', 'HasDependents',
       'LoanPurpose', 'HasCoSigner', 'Default'],
      dtype='object')

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 255347 entries, 0 to 255346
Data columns (total 17 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Age             255347 non-null  int64
 1   Income          255347 non-null  int64
 2   LoanAmount      255347 non-null  int64
 3   CreditScore     255347 non-null  int64
 4   MonthsEmployed  255347 non-null  int64
 5   NumCreditLines  255347 non-null  int64
 6   InterestRate    255347 non-null  float64
 7   LoanTerm        255347 non-null  int64
 8   DTIRatio        255347 non-null  float64
 9   Education       255347 non-null  object
 10  EmploymentType  255347 non-null  object
 11  MaritalStatus   255347 non-null  object
 12  HasMortgage     255347 non-null  object
 13  HasDependents   255347 non-null  object
 14  LoanPurpose     255347 non-null  object
 15  HasCoSigner     255347 non-null  object
 16  Default         255347 non-null  int64
dtypes: float64(2), int64(8), object(7)
memory usage: 33.1+ MB

In [12]:
df['Education'].unique()

array(["Bachelor's", "Master's", 'High School', 'PhD'], dtype=object)

In [13]:
education_encoder = pd.get_dummies(df['Education'] , prefix ='Education').astype(int)

In [14]:
education_encoder

,Education_Bachelor's,Education_High School,Education_Master's,Education_PhD
0,1,0,0,0
1,0,0,1,0
2,0,0,1,0
3,0,1,0,0
4,1,0,0,0
...,...,...,...,...
255342,1,0,0,0
255343,0,1,0,0
255344,0,1,0,0
255345,0,1,0,0
255346,1,0,0,0

In [15]:
df = pd.concat([df , education_encoder], axis= 1)

In [16]:
df.columns

Index(['Age', 'Income', 'LoanAmount', 'CreditScore', 'MonthsEmployed',
       'NumCreditLines', 'InterestRate', 'LoanTerm', 'DTIRatio', 'Education',
       'EmploymentType', 'MaritalStatus', 'HasMortgage', 'HasDependents',
       'LoanPurpose', 'HasCoSigner', 'Default', 'Education_Bachelor's',
       'Education_High School', 'Education_Master's', 'Education_PhD'],
      dtype='object')

In [17]:
EmploymentType_encoder = pd.get_dummies(df['EmploymentType'], prefix='EmploymentType', drop_first=True).astype(int)

In [18]:
df = pd.concat([df, EmploymentType_encoder], axis=1)

In [19]:
df.shape

(255347, 24)

In [20]:
df.columns

Index(['Age', 'Income', 'LoanAmount', 'CreditScore', 'MonthsEmployed',
       'NumCreditLines', 'InterestRate', 'LoanTerm', 'DTIRatio', 'Education',
       'EmploymentType', 'MaritalStatus', 'HasMortgage', 'HasDependents',
       'LoanPurpose', 'HasCoSigner', 'Default', 'Education_Bachelor's',
       'Education_High School', 'Education_Master's', 'Education_PhD',
       'EmploymentType_Part-time', 'EmploymentType_Self-employed',
       'EmploymentType_Unemployed'],
      dtype='object')

In [21]:
df.head()

,Age,Income,LoanAmount,CreditScore,MonthsEmployed,NumCreditLines,InterestRate,LoanTerm,DTIRatio,Education,...,LoanPurpose,HasCoSigner,Default,Education_Bachelor's,Education_High School,Education_Master's,Education_PhD,EmploymentType_Part-time,EmploymentType_Self-employed,EmploymentType_Unemployed
0,56,85994,50587,520,80,4,15.23,36,0.44,Bachelor's,...,Other,Yes,0,1,0,0,0,0,0,0
1,69,50432,124440,458,15,1,4.81,60,0.68,Master's,...,Other,Yes,0,0,0,1,0,0,0,0
2,46,84208,129188,451,26,3,21.17,24,0.31,Master's,...,Auto,No,1,0,0,1,0,0,0,1
3,32,31713,44799,743,0,3,7.07,24,0.23,High School,...,Business,No,0,0,1,0,0,0,0,0
4,60,20437,9139,633,8,4,6.51,48,0.73,Bachelor's,...,Auto,No,0,1,0,0,0,0,0,1

In [22]:
df.loc[0]

Age                                     56
Income                               85994
LoanAmount                           50587
CreditScore                            520
MonthsEmployed                          80
NumCreditLines                           4
InterestRate                         15.23
LoanTerm                                36
DTIRatio                              0.44
Education                       Bachelor's
EmploymentType                   Full-time
MaritalStatus                     Divorced
HasMortgage                            Yes
HasDependents                          Yes
LoanPurpose                          Other
HasCoSigner                            Yes
Default                                  0
Education_Bachelor's                     1
Education_High School                    0
Education_Master's                       0
Education_PhD                            0
EmploymentType_Part-time                 0
EmploymentType_Self-employed             0
EmploymentType_Unemployed                0
Name: 0, dtype: object

In [23]:
df.drop(['Education' ,'EmploymentType'], axis = 1, inplace = True)

In [24]:
df.loc[0]

Age                                   56
Income                             85994
LoanAmount                         50587
CreditScore                          520
MonthsEmployed                        80
NumCreditLines                         4
InterestRate                       15.23
LoanTerm                              36
DTIRatio                            0.44
MaritalStatus                   Divorced
HasMortgage                          Yes
HasDependents                        Yes
LoanPurpose                        Other
HasCoSigner                          Yes
Default                                0
Education_Bachelor's                   1
Education_High School                  0
Education_Master's                     0
Education_PhD                          0
EmploymentType_Part-time               0
EmploymentType_Self-employed           0
EmploymentType_Unemployed              0
Name: 0, dtype: object

In [25]:
yes_no_cols = ['HasMortgage', 'HasDependents', 'HasCoSigner']
for col in yes_no_cols:
    df[col] = df[col].map({'Yes': 1, 'No': 0})

In [26]:
marital_encoded = pd.get_dummies(df['MaritalStatus'], prefix='Marital', drop_first=True).astype(int)
loan_purpose_encoded = pd.get_dummies(df['LoanPurpose'], prefix='Purpose', drop_first=True).astype(int)

df = pd.concat([df, marital_encoded, loan_purpose_encoded], axis=1)

In [27]:
df.drop(['MaritalStatus', 'LoanPurpose'], axis=1, inplace=True)

In [28]:
df.loc[0]

Age                                56.00
Income                          85994.00
LoanAmount                      50587.00
CreditScore                       520.00
MonthsEmployed                     80.00
NumCreditLines                      4.00
InterestRate                       15.23
LoanTerm                           36.00
DTIRatio                            0.44
HasMortgage                         1.00
HasDependents                       1.00
HasCoSigner                         1.00
Default                             0.00
Education_Bachelor's                1.00
Education_High School               0.00
Education_Master's                  0.00
Education_PhD                       0.00
EmploymentType_Part-time            0.00
EmploymentType_Self-employed        0.00
EmploymentType_Unemployed           0.00
Marital_Married                     0.00
Marital_Single                      0.00
Purpose_Business                    0.00
Purpose_Education                   0.00
Purpose_Home                        0.00
Purpose_Other                       1.00
Name: 0, dtype: float64

In [29]:
df['Default'].value_counts()

Default
0    225694
1     29653
Name: count, dtype: int64

In [30]:
import joblib

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score, f1_score, roc_auc_score

from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier

In [31]:
y = df['Default']
X = df.drop('Default', axis=1)

X_train, X_test, y_train, y_test = train_test_split(
    X, y,
    test_size=0.2,
    random_state=42,
    stratify=y
)

In [32]:
scaler = StandardScaler()

X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [33]:
models = {
    "Logistic Regression": LogisticRegression(max_iter=1000, class_weight='balanced'),
    "Random Forest": RandomForestClassifier(
        n_estimators=200,
        class_weight='balanced',
        random_state=42,
        n_jobs=-1
    ),
    "Gradient Boosting": GradientBoostingClassifier()
}

In [34]:
best_model = None
best_model_name = ""
best_auc = 0

for name, model in models.items():
    
    if name == "Logistic Regression":
        model.fit(X_train_scaled, y_train)
        y_pred = model.predict(X_test_scaled)
        y_prob = model.predict_proba(X_test_scaled)[:, 1]
    else:
        model.fit(X_train, y_train)
        y_pred = model.predict(X_test)
        y_prob = model.predict_proba(X_test)[:, 1]
    
    acc = accuracy_score(y_test, y_pred)
    f1 = f1_score(y_test, y_pred)
    auc = roc_auc_score(y_test, y_prob)
    
    print(name)
    print("Accuracy:", acc)
    print("F1 Score:", f1)
    print("ROC-AUC:", auc)
    print("-" * 40)
    
    if auc > best_auc:
        best_auc = auc
        best_model = model
        best_model_name = name

Logistic Regression
Accuracy: 0.6765615821421578
F1 Score: 0.33432739582493753
ROC-AUC: 0.7531787880198108
----------------------------------------
Random Forest
Accuracy: 0.8849226551791658
F1 Score: 0.035767022149302705
ROC-AUC: 0.7442275430990511
----------------------------------------
Gradient Boosting
Accuracy: 0.8863129038574505
F1 Score: 0.09309590752889722
ROC-AUC: 0.7576402426616742
----------------------------------------

In [35]:
import joblib

best_model = GradientBoostingClassifier()
best_model.fit(X_train, y_train)

joblib.dump(best_model, 'best_loan_model.pkl')

['best_loan_model.pkl']